:root {
    font-family: "Arial";
    font-size: medium;
    font-style: normal;
    font-weight: 100;
    text-transform: initial;
}

h1 {
    color: white;
    text-align: center;
    background-size:cover;

}

table, td {
    border-collapse:collapse;
    border:none;
}

figure {
    font-size: 90%;
}

img {
    float: none;
    margin: 5px 4px 5px 4px;
}

ul {
    list-style-type: "\1F44D";
    list-style-position: outside;
}


th, td { 
    width:auto;
    margin-top: 3px;
    margin-right: 5px;
    margin-bottom: 3px;
    margin-left: 5px;
    border-collapse:collapse;
    border:3px solid black;
}

dt {
    margin-left: 5px;
}

p, li{
    text-align: left;
    margin: 5px;
}


.name {
    text-align: center;
}

.headerRow{
    background-color:black;
    color: white;
}

.row1{
    background-color: aliceblue;
    color: black;
}

.row2{
    background-color: lightgray;
    color: black;
}

.tagsColumn{
}

.descriptionColumn{
}

.upper{
}