:root {
    font-family: "Arial";
    font-size: medium;
    font-style: normal;
    font-weight: 600;
    /*background-image: url(https://img.freepik.com/free-photo/beige-aged-background_53876-88685.jpg?w=996&t=st=1673527357~exp=1673527957~hmac=334444f15862f2b23693ff08a7457037e5cc5f3718f9ffea1e026a1003b9914c);*/
    background-image: url(https://img.freepik.com/free-photo/gray-concrete-wall_53876-89531.jpg?w=996&t=st=1673528365~exp=1673528965~hmac=8852ed87918b16fcc6ca2d2ad31f708887dca44b62feffc772b8cb3963cc6266);
    background-repeat: repeat;
}


h1 {
    color: black;
    text-align: center;
    background-size:cover;
}

table, td, tr{
    border-spacing: 0;
    border-collapse:collapse;
    border:none;
    border-width: 5px;
}

figure {
    font-size: 90%;
}

.imgbox {
    display: grid;
    height: 100%;
}


img {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
    float: none;
}

figcaption{
    text-align: center;
}

ul {
    list-style-type: "\1F44D";
    list-style-position: outside;
}
tr{
    display: grid;
}

th, td { 
    width:auto;
    margin-top: 3px;
    margin-right: 5px;
    margin-bottom: 3px;
    margin-left: 5px;
    border-collapse:collapse;
    border:3px solid black;
}

dt {
    margin-left: 5px;
}

p, li{
    text-align: left;
    margin: 5px;
}


.name {
    text-align: center;
}

.headerRow{
    background-color:black;
    color: white;
}

.row1{
    background-color: aliceblue;
    /*background-color: #d3bdb0;*/
    color: black;
}

.row2{
    background-color: lightgray;
    /*background-color: #c1ae9f;*/
    color: black;
}

.altColumn{
    text-transform: capitalize;
}

.tagsColumn{
}

.descriptionColumn{
}
.underlined{
    text-decoration: underline;
}
.postText{
    text-indent: 5%;
}

#container1{

}
#container2{

}

#tableSection{

}

